body {
  background-color: #6666ff;
}
.box {
  padding-top: 20px;
  text-align: center;
  background-color: aliceblue;
  width: 400px;
  height: 450px;
  border-radius: 4.5%;
  box-shadow: 2.5px 2.5px;
  font-size: 16px;
  margin-left: 73vh;
  font-family:'Courier New', Courier, monospace;
}
.button{
  background-color: aliceblue;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 1px 1px 1px 1px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.field {
  width: 300px;
  height: 25px;
  text-align: center;
  border-radius: 16px;
}

#expensor {
  margin-left: 1350px;
  text-decoration: none;
  color: black;
}
#tasker {
  text-align:left;
  text-decoration: none;
  color: black;
}
#table {
  padding: 3vh;
}
